#mainPane {
    -fx-background-image: url("../Image/GameStart.png");
    -fx-background-size:cover;

}
#listPane {
    -fx-background-image: url("../Image/MusicList.png");
    -fx-background-size:cover;
    -fx-background-repeat: no-repeat;

}

#playPane {
    -fx-background-image: url("../Image/playPage.png");
    -fx-background-size:cover;

}

#completePane {
    -fx-background-image: url("../Image/complete.png");
    -fx-background-size:cover;

}

#cardPane {
    -fx-background-image: url("../Image/Collect.png");
    -fx-alignment: CENTER;
    -fx-background-size:cover;

}

